<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<script>
  var socket = io.connect('http://localhost');
  socket.on('stockUpdates', function (res) {
    $('#stocks').empty()
    res.stocks.forEach(function(stock) {
      $('#'+stock.name+" .price").html(stock.price)
	})
  });
	socket.emit('join', function(successful, name, stocks) {
		if (successful) {
			$('#name').html('Trading as <i>'+name+'</i>')
		}
	});
</script>
<style>
	body {
		background-image: url("/images/background.png");
	}
	.thumbnail {
		background: rgba(214, 214, 214, 0.79);
		border: none;
	}
</style>
<body>
	<div class="container">
		<div class="row">
			<div class="span8">
				<h1>Realtime Trading Dashboard</h1>
			</div>
			<div class="span4">
				<h3 id="name"></h3>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="thumbnails">
					{{#stocks}}
						<li class="span3">
							<div id="{{name}}" class="thumbnail">
								<div class="caption">
									<h3>{{name}}</h3>
									$<span class="price">{{price}}</span><br>
									<button class="btn btn-primary">Purchase</button>
								</div>
							</div>
						</li>
					{{/stocks}}
				</ul>
			</div>
		</div>
	</div>
</body>
</html>