<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<script>
  var socket = io.connect('/');
  var UserName;
  $(function() {
    $('.purchase').click(function() {
      name = $(this).parent().parent().attr("id")
      socket.emit('purchase', {stock: name}, function(res) {
        if (res != false) {
        	$('#purchases').append('<tr class="purchase" id="'+name+'"><td>'+name+'</td><td>$<span="originalPrice">'+res+'</span></td><td>$<span class="price">Waiting...</span></td></tr>');
        	$('#cash').text(Math.round(($('#cash').text() - res)*10)/10);
    	} else {
    		alert("You don't have enough money.")
    	}
    	$
      })
    })
  })
  socket.on('stockUpdates', function (res) {
    $('#stocks').empty()
    stocks = res.stocks
    clients = res.clients
    Object.keys(stocks).forEach(function(stock) {
      $('#'+stock+" .price").html(stocks[stock].price)
      if (stocks[stock].direction=="1") {
        $('#'+stock+" .info").css("color", "green");
      } else {
        $('#'+stock+" .info").css("color", "red");
      }
    })
    $('#clients').empty();
    Object.keys(clients).forEach(function(client) {
      $('#clients').append('<div>'+client+": $"+clients[client]+"</div>")
    })
  	total = Number($('#cash').html());
   	$('tr.purchase').each(function() {
  	  total += $(this).find(".price").text() - $(this).find(".originalPrice").text()
  	  console.log(total)
    })
    total = Math.round(total*10)/10;
    $('#total').text(total)
    socket.emit('status', {name: UserName, total: total});
  });
	socket.emit('join', function(successful, name, stocks) {
		if (successful) {
			UserName = name;
			$('#name').html('Trading as <i>'+name+'</i>')
		}
	});
</script>
<style>
	body {
		background-image: url("/images/background.png");
	}
	.thumbnail {
		background: rgba(214, 214, 214, 0.79);
		border: none;
	}
</style>
<body>
	<div class="container">
		<div class="row">
			<div class="span8">
				<h1>Realtime Trading Dashboard</h1>
			</div>
			<div class="span4">
				<h3 id="name"></h3>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<ul class="thumbnails">
					{{#stocks}}
						<li class="span2">
							<div id="{{name}}" class="thumbnail">
								<div class="caption">
									<h4>{{name}}</h4>
									<span class="info">
										$<span class="price">{{price}}</span><br>
									</span>
									<button class="btn btn-primary purchase">Purchase</button>
								</div>
							</div>
						</li>
					{{/stocks}}
				</ul>
			</div>
			<div class="span4" id="clients">
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h2>My Portfolio</h2>
				<table class="table table-hover" id="purchases">
					<tr>
						<th>Stock</th>
						<th>Value when Purchased</th>
						<th>Current Value</th>
					</tr>
				</table>
				<div>
					<strong>Cash: $<span id="cash">{{startingCash}}</span></strong><br>
					<strong>Total: $<span id="total"></span></strong>
				</div>
			</div>
		</div>
	</div>
</body>
</html>